/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */

@font-face{
	font-family: Calculator;
	src: url(fonts/digital.ttf);
}

*{
  box-sizing: border-box;
}

body.body {
  padding: 100px;
  background: darkslategray;
  font-family: 'Calculator', sans-serif;
  text-align: center;

}

h1 {
  font-size: 2em;
  margin: 1em auto;
  border: 2px solid greenyellow;
  width: 270px;
  color: cornsilk;
}

.buttons {
  background: #edeade;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
}
/* #eight {
  grid-column: 1;
  grid-row: 1;
}
#nine {
  grid-column: 1;
  grid-row: 1;
}

#divide {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
} */

button {
  font-size: 50px;
  border: dotted 1px;
}
/* button {
  border-radius: 50px;
  font-size: 35px;
  height: 50px;
  width: 50px;
  border: none;
  display: flex;
  justify-content: space-evenly;
  background: #333;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 0px 0px #222121, inset -1px -3px 10px 1px #999999;
  margin:2px;
} */

#equals {
  grid-column: 4;
  grid-row: 4/6;
  border-bottom-right-radius: 15px;
}

#modulus {
  border-bottom-left-radius: 15px;
}

#power {
  background: #fda8a8;
}

div {
  background: black;
  border-radius: 10px;
}


.output {
  padding: .2em;
  background: #dbd5bd;
  border: 5px solid #c3c2ab;
  border-radius: 0;
  font-size: 2em;
  height: 3em;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 15px 15px 0px 0px;
}


.calculator-grid {
    margin: auto;
    width: 300px;
    border-radius: 15px;
}

.calculator-grid > button {
  cursor: pointer;
}

.buttons > button:hover {
  background-color:lightgray
}

span#placeToPutResult {
  font-size: 45px;
  word-wrap: break-word;
  word-break: break-all;
}

span#placeToPutEquation {
  font-size: 23px;
  word-wrap: break-word;
  word-break: break-all;

}

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
